{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fit For All</title>
    <link href="{% static 'myapp/dashboard.css' %}" rel="stylesheet">
</head>

<body>
    <!-- nav bar -->
    <section class="nav-bar">
        <div class="nav nav-links">
            <li>
                <div class="nav-logo nav-item">🏋️</div>
            </li>
            <li>
                <div class="nav-item"><a href="../">IDK yet </a></div>
            </li>
            <li>
                <div class="nav-item"> <a href="../">Resume </a></div>
            </li>
            <li>
                <div class="nav-item"> <a href="../">Projects </a></div>
            </li>
        </div>
    </section>
    <!-- title -->
    <section>
        <h1> Fit For All </h1>
    </section>

</body>

</html>